// theme 1
$primary-bg-d: hsl(222, 26%, 31%);
$secondary-bg-d: hsl(223, 31%, 20%);
$screen-bg-d: hsl(224, 36%, 15%);
$primary-key-bg-d: hsl(30, 25%, 89%);
$primary-key-hover-d: hsl(31, 100%, 100%);
$primary-key-shadow-d: hsl(28, 16%, 65%);
$secondary-key-bg-d: hsl(225, 21%, 49%);
$secondary-key-hover-d: hsl(224, 51%, 76%);
$secondary-key-shadow-d: hsl(224, 28%, 35%);
$tertiary-key-bg-d: hsl(6, 63%, 50%);
$tertiary-key-hover-d: hsl(6, 93%, 67%);
$tertiary-key-shadow-d: hsl(6, 70%, 34%);
$text-dark-d: hsl(221, 14%, 31%);

// theme 2
$primary-bg-l: hsl(0, 0%, 90%);
$secondary-bg-l: hsl(0, 5%, 81%);
$screen-bg-l: hsl(0, 0%, 93%);
$primary-key-bg-l: hsl(45, 7%, 89%);
$primary-key-hover-l: hsl(0, 0%, 100%);
$primary-key-shadow-l: hsl(35, 11%, 61%);
$secondary-key-bg-l: hsl(185, 42%, 37%);
$secondary-key-hover-l: hsl(184, 40%, 56%);
$secondary-key-shadow-l: hsl(185, 58%, 25%);
$tertiary-key-bg-l: hsl(25, 98%, 40%);
$tertiary-key-hover-l: hsl(25, 100%, 61%);
$tertiary-key-shadow-l: hsl(25, 99%, 27%);
$text-dark-l: hsl(60, 10%, 19%);

// theme 3
$primary-bg-n: hsl(268, 75%, 9%);
$secondary-bg-n: hsl(268, 71%, 12%);
$screen-bg-n: hsl(268, 71%, 12%);
$primary-key-bg-n: hsl(268, 47%, 21%);
$primary-key-hover-n: hsl(268, 54%, 44%);
$primary-key-shadow-n: hsl(290, 70%, 36%);
$secondary-key-bg-n: hsl(281, 89%, 26%);
$secondary-key-hover-n: hsl(280, 56%, 44%);
$secondary-key-shadow-n: hsl(285, 91%, 52%);
$tertiary-key-bg-n: hsl(176, 100%, 44%);
$tertiary-key-hover-n: hsl(176, 100%, 79%);
$tertiary-key-shadow-n: hsl(177, 92%, 70%);
$text-dark-n: hsl(198, 20%, 13%);

// text
$text-light: hsl(0, 0%, 100%);
$text-yellow: hsl(52, 100%, 62%);